html{
  font-size:62.5%;
}
*,*::before,*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Inter', sans-serif;

 
}
.vertical__line{
  position: absolute;
 top:50%;
  left:50%;
  width:1px;
  height:10%;
  background:#fff;
  animation: verticalLine 1s ease-out 1s forwards;
  z-index:999;
  
}
.animation-line{
  background:rgb(131, 120, 120);
  animation: animationLine 0.4s ease-in 1.2s 3 alternate-reverse;
  width:100%;
  z-index:999;
 
}
@keyframes animationLine {
  0%{
    height:0;
    
  }
  30%{
    height:20%;
  }
  70%{
    height:70%;
  }
  100%{
    height:100%;
   
    
  }
}
@keyframes verticalLine {
  0%{
    height:20%;
    
  }
  30%{
    height:50%;
    top:30%;
   
  }
 
  100%{
    height:100%;
    top:0;
   
    
  }
}
.boxes{
  display:grid;
  
  grid-template-columns: 1fr 1fr;
  height:100vh;
  max-width: 100%;
  overflow:hidden
}

.box-1{
  
  height:100%;
  background-color:#000; 
  animation:removingBox1 0.25s linear 2.5s forwards;
}
.box-2{
 
 
 height:100%;
  background-color:#000;
  animation:removingBox2 0.25s linear 2.5s  forwards;
  
}

@keyframes removingBox1 {
  0%{
    
  }
  50%{
    transform:translateX(-50%);
  }
  100%{
    transform:translateX(-100%);
  }
}
@keyframes removingBox2 {
  0%{
    transform:translateX(0);
  }
  50%{
    transform:translateX(50%);
  }
  100%{
    transform:translateX(100%);
  }
}